/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #e7e7e7;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 12px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 24px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.updates p{
  margin-bottom: 0px;
}

.projects p{
  margin-bottom: 0px;
}

.pub-proj-head {
  font-weight: bold;
  color: #169ab8;
  margin-top: 18px;
  margin-bottom: 12px;
}

.pub-year-head {
  margin-left: -24px; /* margin-left of ol is 24px*/
  font-weight: bold;
  /* color: #b83316; */
  color: #169ab8;
  margin-top: 18px;
  margin-bottom: 12px;
}
/**
 * Links
 */
a {
  color: #144fcf;
  text-decoration: none; }
  a:visited {
    color: #144fcf; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e7e7e7;
  padding-left: 12px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.content-box {
  border-top: 20px solid #e7e7e7;
  max-width: -webkit-calc(1000px - (24px * 2));
  background-color: #f7f7f7;
  max-width: calc(1000px - (24px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(1000px - (24px));
      max-width: calc(1000px - (24px));
      padding-right: 12px;
      padding-left: 12px; } }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1000px - (24px * 2));
  max-width: calc(1000px - (24px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(1000px - (24px));
      max-width: calc(1000px - (24px));
      padding-right: 12px;
      padding-left: 12px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #e7e7e7;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  margin: 8px 0;
  display: inline-block; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav .menu-icon {
  display: none; }
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
  padding: 8px 0;
  display: inline-block; }
  .site-nav .trigger {
    float: right;}
  .site-nav .page-link:not(:last-child) {
    margin-right: 20px; }
  .site-nav .page-link.active {
    padding-bottom: 7px;
    margin-bottom: -1px;
    border-bottom: 2px solid #424242; }
    @media screen and (max-width: 800px) {
      .site-nav .page-link.active {
        border-bottom: none;
        padding-bottom: 8px;
        margin-bottom: 0; } }
@media screen and (max-width: 800px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 12px;
    background-color: #fdfdfd;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    text-align: right; }
    .site-nav .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 5px;
      text-align: center; }
      .site-nav .menu-icon > svg path {
        fill: #424242; }
    .site-nav .trigger {
      clear: both;
      display: none; }
    .site-nav:hover .trigger {
      display: block;
      padding-bottom: 5px; }
    .site-nav .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: 20px; }
      .site-nav .page-link:not(:last-child) {
        margin-right: 0; } }

.lab-logo {
  height: 100px;
  float: left;
  margin-top: 5px;
  margin-bottom: -30px;}
  @media screen and (max-width: 800px) {
    .lab-logo {
      width: auto;
      height: 50px;
      float: left;
      margin-top: 2px;
      margin-left: -2%; } }

.uh-logo {
  height: 30px;
  float: right;
  margin-top: 30px;}
  @media screen and (max-width: 800px) {
    .uh-logo {
      display: none; } }

.navigation-wrapper.has-logo .navigation-links {
  width: 100%;
  float: left; }
  @media screen and (max-width: 800px) {
    .navigation-wrapper.has-logo .navigation-links {
      width: 100%; } }
.navigation-wrapper.has-logo .navigation-logo {
  width: 30%;
  float: right;
  padding: 12px;
  box-sizing: border-box;
  text-align: right;
  height: 95px; }
  .navigation-wrapper.has-logo .navigation-logo img {
    max-height: 100%; }
  @media screen and (max-width: 800px) {
    .navigation-wrapper.has-logo .navigation-logo {
      display: none; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e7e7e7;
  font-size: 14px;
  padding: 24px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 12px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  display: flex;
  justify-content: space-between; }

.footer-col {
  margin-bottom: 12px; }

.footer-text {
  border-top: 1px solid #e7e7e7;
  text-align: right;
  font-size: 8px;
  padding: 12px 0; }

/**
 * Page content
 */
.page-content {
  padding: 24px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 24px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 24px; }

.post-title {
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 20px; } }

.post-content {
  margin-bottom: 24px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.profile-picture {
  text-align: left;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 1px; }
  @media screen and (max-width: 800px) {
    .profile-picture {
      display: block;
      float: none;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; } }

.project-picture {
  text-align: left;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 1px; }
  @media screen and (max-width: 800px) {
    .project-picture {
      display: block;
      float: none;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; } }

.table-style {
  border-color: #000;
  border-width: 0pt;
}

ol.publications {
  margin: 0; }
ol.publications li {
  margin-bottom: 16px; }
ol.publications .authors {
  font-style: italic; }
ol.publications 
ol.publications .year {
  color: #828282; }

em.journal {
  font-style: italic;
  color: #b83316; }

hr.dividing-line{
  margin-top: 24px;
  margin-bottom: 24px;
  height: 0.5px;
  border-width: 0;
  color: #cfcfcf;
  background-color: #cfcfcf;
}
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev, .next {
  background-color: rgba(0,0,0,0.1);
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text {
  background-color: rgba(0,0,0,0.4);;
  color: #fdfdfd;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: rgba(0,0,0,0.2);;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dactive, .dot:hover  {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.1s;
  animation-name: fade;
  animation-duration: 0.1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
